 <div class="btn-toolbar" style="margin: 0;">
    <div class="btn-group">
      <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Tables<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/v1/admin/token">Tokens</a></li>
        <li><a href="/v1/admin/push">Pushes</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
        <button class="btn btn-success">Pushes</button>
    </div><!-- /btn-group -->    
</div>
<hr>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <% $apps.each_with_index { |app, index| %>
        <% if (index == 0) then %>
            <li class="active"><a href="#tab<%= index+1 %>" data-toggle="tab"> <%= app %></a></li>
        <% else %>
            <li><a href="#tab<%= index+1 %>" data-toggle="tab"> <%= app %></a></li>
        <% end %>
    <% } %>
  </ul>
  <div class="tab-content">
    <% $apps.each_with_index { |app, index| %>
        <% if (index == 0) then %>
            <div class="tab-pane active" id="tab<%= index+1 %>">
        <% else %>
            <div class="tab-pane" id="tab<%= index+1 %>">
        <% end %>
        <table class="table-striped table-bordered table-condensed">
          <thead>
          <tr>
            <th>id</th>
            <th>app</th>
            <th>device token</th>
          </tr>
          </thead>
          <tbody>
          <% @o["#{index}".to_i].each { |x| %>
              <tr>
                <td><%= x.values[0] %></td>
                <td><%= x.values[1] %></td>
                <td><%= x.values[2] %></td>
              </tr>
          <% } %>
          </tbody>
        </table>
        </div>
    <% } %>
    </div>
</div>