<h4> Sending Message: </h4>
<form class="form-inline" action="/v1/send"  method="post" >
  <label class="text-error">
    http://localhost:4567/send/
  </label>  
<div class="input-prepend">
  <span class="add-on">app</span>
  <select name="app">
      <% $apps.each_with_index { |app, index| %>      
        <option><%= app %></option>
      <% } %>  
  </select>    
</div>  
  <label class="label">
    /
  </label>  
<div class="input-prepend">
  <span class="add-on">message</span>   
  <input name="message" type="text" class="input-block-level" placeholder="message">
  <button type="submit" class="btn btn-primary">Send</button>
</div>    
</form>
<hr/>
 <div class="btn-toolbar" style="margin: 0;">
    <div class="btn-group">
      <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Tables<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/v1/admin/token">Tokens</a></li>
        <li><a href="/v1/admin/push">Pushes</a></li>
      </ul>
    </div><!-- /btn-group -->
    <div class="btn-group">
        <button class="btn btn-success">Tokens</button>
    </div><!-- /btn-group -->    
</div>
<hr style="border: none;">
<div class="tabbable">
  <ul class="nav nav-tabs">
    <% $apps.each_with_index { |app, index| %>
        <% if (index == 0) then %>
            <li class="active"><a href="#tab<%= index+1 %>" data-toggle="tab"> <%= app %></a></li>
        <% else %>
            <li><a href="#tab<%= index+1 %>" data-toggle="tab"> <%= app %></a></li>
        <% end %>
    <% } %>
  </ul>
  <div class="tab-content">
    <% $apps.each_with_index { |app, index| %>
        <% if (index == 0) then %>
            <div class="tab-pane active" id="tab<%= index+1 %>">
        <% else %>
            <div class="tab-pane" id="tab<%= index+1 %>">
        <% end %>
        <table class="table-striped table-bordered table-condensed">
          <thead>
          <tr>
            <th>id</th>
            <th>app</th>
            <th>device token</th>
            <th>created time</th>
          </tr>
          </thead>
          <tbody>
          <% @o["#{index}".to_i].each { |x| %>
              <tr>
                <td><%= x.id %></td>
                <td><%= x.app %></td>
                <td><%= x.token %></td>
                <td><%= x.created_at %></td>
              </tr>
          <% } %>
          </tbody>
        </table>
<!-- <div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="/v1/admin/token?page=1">1</a></li>
    <li><a href="/v1/admin/token?page=2">2</a></li>
    <li><a href="/v1/admin/token?page=3">3</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>    -->     
        </div>
    <% } %>
    </div>
</div>

